/*global*/
/* html resets the sizing of the html */
html{
font-size: 62.5%;/* 62.5% = 10 px = 1 rem*/
}
*{
    padding: 0;
    margin: 0;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.6rem;
}
body{
    font-family: arial;
}
h1,h2,h3{
    margin-bottom: 1rem;
}
h1{
    font-size: 3.5rem;
}
h2{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
h3{
    font-size: 2rem;
}
p{
    line-height: 2;
    font-size: 1.6rem;
}


/*utilities*/
.container{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
.flex-vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify content wont work unless you change the height between them. so we do that next */
    height: 80%;
}
.flex-row{
    display: flex; /* Moves it side by side  */
    flex-direction: row;
    justify-content: space-between;
}
.flex-row img{
    /* margin-right: 2rem; */
}
.btn-details{
    background-color: rgb(255, 136, 0);
    color: white;
    width: 100%;
    /* in order to play with width and padding you need to use display block */
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* padding: 1rem; padding is inside the box */
    border-radius: .5rem;/* border-radius makes the corners of the box curved */
    text-align: center;
    /* margin-right: auto;
    margin-left: auto; */
    margin-top: 1rem;
}


/*header*/
.site-init{
    background-image: url(../img/header.jpg);
    height: 40vh;
    background-position: top right;
    background-size: cover;
}
.site-init p{

}
.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 10vh;
}

nav a{
    color: white;
    margin-right: 1rem;
    /* 1rem =16 px? */
}
header p{
    color: white;
}



/* footer */
.site-footer{
    background-color: black;
    height: 10vh;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.footer-words h1{
    color: white;
    text-align: center;
    /* 1rem =16 px? */
}
header p{
    color: white;
}










/* about us */
.about-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-right: 1rem;
}
.about-item img{
    width: 10rem;
    height: 10rem;
}
.about-item h3{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.about-item p{
    text-align: justify;
}
.about-us-img{
    padding-bottom: 2rem;
}
.about-details{
    text-indent: 5rem;
    margin-top: 2rem;
}



/* justify spreads out the words evenly through the container its in  */
/* houses and penthouses  */
.house-item{
    background-color: rgb(242, 242, 242);
    margin-right: 1rem;
}
.house-item-img img{
    max-width: 100%;
}
.house-item-text{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}
.house-item-text p.price{
    color: green;
}


/* contact */
.site-header{
    background-color: black;
}
.form-container{
    margin: 1rem;
}
legend{
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
    /* letter-spacing: .1rem; */
    font-weight: 700;
    padding: .5rem;
}
.form-label{
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 700;
}
.form-radio{
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 700;
    
}
.form-control{
    width: 98%;
    background-color: rgb(237, 237, 237);
    border: none;
    font-size: 1.6rem;
    padding: 0.4rem;
    border-radius: .5rem;
}
.btn-contact{
    background-color: rgb(255, 136, 0);
    color: white;
    width: 20%;
    /* in order to play with width and padding you need to use display block */
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* padding: 1rem; padding is inside the box */
    border-radius: .5rem;/* border-radius makes the corners of the box curved */
    text-align: center;
    /* margin-right: auto;
    margin-left: auto; */
    margin-top: 1rem;
}

/* Blog */

.blog-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    background-color: rgb(221, 221, 221);
}
.blog-item img{
    width: 100%;
    margin-bottom: 3rem;

}
.blog-item h3{
    text-align: center;
}
.blog-item p{
    text-align: justify;
    margin: 2rem;

}
/* Media Queries for screen smaller than 768px  */
@media (max-width:767px) /* max width is 0 px to 767 px.*/{
    html{
        font-size: 45%;  /* this changes all the font sizes */
        
    }
    .container{  /* we make the container size smaller */
        width: 90%;  /* use the entire screen avaiblable  */
        padding: 0 1rem;  /* padding to the content  */
    }
    .house-item{
        margin-right: 2rem;
    }
    .house-item-img img{
        max-width: 100%;
    }

    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2.2rem;
        margin-bottom: 1.5rem;
    }
    h3{
        font-size: 2.5rem;
    }
    p{
        font-size: 2rem;
    }
    nav a{
        display: block;
        margin: 0.5rem 2rem;  /* staking links vertical space */
        font-size: 2rem;
        
    }
    .site-init{
        height: 20vh;  /* increases hieght of view */
    }
    .about-item img{
        width: 8rem;  /* ajust image size for mobile views */
    }
}


/* Media Queries for medium size screens from 768 px to 1023 px (tablet size)  */
@media (min-width: 768px) and (max-width: 1023px){
    html{
        font-size: 45%;  /* this changes all the font sizes */
        
    }
    .container{  /* we make the container size smaller */
        width: 80%;  /* use the entire screen avaiblable  */
        padding: 1 1rem;  /* padding to the content  */
    }
    .house-item{
        margin-right: 2rem;
    }
    .house-item-img img{
        max-width: 100%;
    }

    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.8rem;
        margin-bottom: 2rem;
    }
    h3{
        font-size: 2.2rem;
    }
    p{
        font-size: 2rem;
    }
    nav a{
        margin: 0.5rem 1rem;  /* staking links vertical space */
        font-size: 2rem;
        
    }
    .site-init{
        height: 30vh;  /* increases hieght of view */
    }
    .about-item img{
        width: 8rem;  /* ajust image size for mobile views */
    }
}


/* Media Queries for screens larger than 1024 px (desktop size)  */
@media (min-width: 1024px){
    .container{  
        width: 60%;
    }
}


/* Mobile devices (small screen) */
@media only screen and (max-width: 480px){
    html{
        font-size: 25%;  /* this changes all the font sizes */
        
    }
    .container{  /* we make the container size smaller */
        width: 100%;  /* use the entire screen avaiblable  */
        padding: 0 1rem;  /* padding to the content  */
    }
    .house-item{
        margin-right: 2rem;
    }
    .house-item-img img{
        max-width: 40%;
    }

    h1{
        font-size: 5.5rem;
    }
    h2{
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }
    h3{
        font-size: 1.2rem;
    }
    p{
        display: none;
    }
    nav a{
        display: block;
        margin: 0.5rem 2rem;  /* staking links vertical space */
        font-size: 2rem;
        
    }
    .site-init{
        height: 20vh;  /* increases hieght of view */
    }
    .about-item img{
        width: 8rem;  /* ajust image size for mobile views */
    }
}

